*.crt
*.key
*.keystore
*.pem
*.secret
*.token
*_keys
*_secrets
*_tokens
.env
.env.*
.env.*.local
.env.local
id_dsa
id_rsa


*.exe
*.lib
*.o
*.obj
*.tar.gz
*.zip


.cache/
build/
dist/
node_modules/
prisma/migrations


*.log
*.log.*
*.pid
*.pid.lock
.eslintcache
.grunt
.lock-wscript
.node_repl_history
.npm-debug.log*
.parcel-cache/
.pnpm-debug.log*
.rpt2_cache/
.tern-port
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/src/generated/prisma
